/* Importing Mulish sans font from google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* shared styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
  }

  body {
    font-family: "Mulish", sans-serif;    
    max-width: 1440px;
    border-bottom: 2px solid red;
  }

  /* div{
    border: 1px solid blue;
  } */

/* style for navbar starts here */

.header-section {
    background-color: #FFF;
    margin-top: 3.125px;  

  }
  .nav-container {    
    max-width: 1170px;
    margin: 0 auto;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .logo-container{
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .logo-container p {
    font-size: 2.25rem;
    font-weight: 800;
  }  
  .unknown-text {
    color: #FF5400;    
  }
  
  .nav-list {   
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.75rem;
  }
  .nav-items-container a {
    text-decoration: none;
    font-size: 1.125rem;
    color: #424247;
    font-weight: 400;
  }
  #ham-menu{
    display: none;
}
  .home-nav{
    color:#FF5400;
    font-weight: 700;
  }
  /* style for navbar ends here */

  /* style for banner section starts here  */

