@media screen and (min-width: 601px) and (max-width: 991px) {

    /* nav responsive starts  */
    .nav-container {
        flex-direction: column;
    }

    /* nav responsive ends  */



    /*  Our Tours style starts */

    .our-tours {
        width: 81.25%;
        display: flex;
        margin: 3.5rem auto;
        padding: 1rem 0 0;
        gap: 1.5rem;
      }
      .our-tours-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      

 /*  Our Tours style starts */

/*style for Chose your destinations section starts here */
.destination {
    width: 100%;
    text-align: center;
    flex-direction: column;
    margin: 1.5rem auto;
    gap: 1rem;
  }
  .destination-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .destination-info h2 {
    font-size: 1.25rem;
  } 
  
.chose-you-destination-content>div {
    width: 100%;
    height: 11rem;
    background-size: cover;
  }


  /* why us style */
 
  .why-chose-us-card{
    width: 80%;
  }

  /* ---style news letter section starts here-- */
  .newsletter {
    width: 100%;
    flex-direction: column;
  }

  .newsletter-content{
    width: 80%;
  }

  .newsletter-img{
    width: 80%;
    }


}